.mynavbar{
    margin: 0px !important;
    float: none !important;
    background-color: #1a1a1a !important;
    border-color: #1a1a1a  !important;
    border-radius:0px !important;
}
img{
    width: 100%;
    height: 100%;
}
.logo-major{
    padding: 13px 10px !important;
    height: 70px !important;
}
.logo-major img{
    width: 100%;
    height: 100%;
}
.mynav{
    float: none !important;
}
.mynav>li>a{
    box-sizing: border-box;
    color: #e8e8e8!important;
    font-size: 17px;
    padding: 20px 10px !important;
}
.mybutton-dropdown a{
    text-align: center;
    padding: 0px 20px !important;
}
.mybutton-dropdown {
    max-width: 350px;
    min-width: 250px;
    position: relative;
}
.myicon-dropdown{
    content: url(foto/chevron-down.png);
    top:30px ;
    display: inline-block;
    width: 30px;
    height: 19px;
    right: 10px;
    position: absolute;
    
}
.myicon-locatin{
    content: url(foto/location.png);
    top: 21px;
    display: inline-block;
    width: 30px;
    height: 34px;
    left: 8px;
    position: absolute;
}
.mylist-dropdown{
    background-color: #1a1a1a !important;
    max-width: 350px !important;
    min-width: 350px !important;
}
.mylist-dropdown li{
display: inline-block;
text-decoration: dashed;
text-decoration-color: #e89535 ;
text-decoration-line: underline;
}
.mylist-dropdown>li>a{
    font-size: 18px;
    padding: 10px !important;
    color:  #e89535 !important;
    text-decoration: dashed;
    text-decoration-color: #e89535 ;
    text-decoration-line: underline;
}
.mylist-dropdown>li>a:hover{
    background-color: #1a1a1a !important;
}
.compani h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #e8e8e8 !important;
}
.mybaner{
    background-image: url(foto/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
height:100vh ;
}
.jumbotron{
    height:100vh ;
    background-color:  rgba(0, 0, 0, 0.378) !important;
}
.imgcompani{
   margin: 20px 0px !important;
}
.imgcompani>div{
    padding: 20px  30px !important;
    box-sizing: border-box;
    height: 100px;
}
.myorder{
    padding: 25px !important;
    border-radius: 10px;
    background-color: #1a1a1ade;
}
.myorder-button{
    text-transform: uppercase;
    margin: 20px 0px !important;
    border-radius: 60px !important;
     width: 100%;
    display: block !important;
    background-color: #e89535 !important;
    border-color: #e89535 !important;
}
.icon-video{
    content: url(foto/small-play.png);
    display: inline-block;
    top: 6px;
    width: 60px;
    height: 60px;
    left: 8px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.655);
    padding: 15px;
    border-radius: 5px;
}
.myvideo-button{
    margin: 40px 0px;
    position: relative;
    padding: 20px 70px !important;
    background-color: transparent !important;
    border-color: transparent !important; 
}
.myvideo-button:hover{
    border: none !important;
}