.mynavbar{
    margin: 0px !important;
    float: none !important;
    background-color: #1a1a1a !important;
    border-color: #1a1a1a  !important;
    border-radius:0px !important;
}
img{
    width: 100%;
    height: 100%;
}
.logo-major{
    padding: 13px 10px !important;
    height: 70px !important;
}
.logo-major img{
    width: 100%;
    height: 100%;
}
.mynav{
    float: none !important;
}
.mynav>li>a{
    box-sizing: border-box;
    color: #e8e8e8!important;
    font-size: 17px;
    padding: 20px 10px !important;
}
.mybutton-dropdown a{
    text-align: center;
    padding: 0px 20px !important;
}
.mybutton-dropdown {
    max-width: 350px;
    min-width: 250px;
    position: relative;
}
.myicon-dropdown{
    content: url(foto/chevron-down.png);
    top:30px ;
    display: inline-block;
    width: 30px;
    height: 19px;
    right: 10px;
    position: absolute;
    
}
.myicon-locatin{
    content: url(foto/location.png);
    top: 21px;
    display: inline-block;
    width: 30px;
    height: 34px;
    left: 8px;
    position: absolute;
}
.mynav>.mybutton-dropdown>a{
    background-color: #1a1a1a !important;
}
.mylist-dropdown{
    background-color: #1a1a1a !important;
    max-width: 350px !important;
    min-width: 350px !important;
}
.mylist-dropdown li{ 
display: inline-block;

}
.mylist-dropdown>li>a{
    font-size: 18px;
    padding: 0px;
    margin:  0px  10px!important;
    color:  #e89535 !important;
    border-bottom: dashed #e89535;
}
.mylist-dropdown>li>a:hover{
    background-color: #1a1a1a !important;
}
.compani h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #e8e8e8 !important;
}
.mybaner{
    background-image: url(foto/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
height:100vh ;
}
.jumbotron{
    margin-bottom: 0px !important;
    height:100vh ;
    background-color:  rgba(0, 0, 0, 0.378) !important;
}
.imgcompani{
   margin: 20px 0px !important;
}
.imgcompani>div{
    padding: 20px  30px !important;
    box-sizing: border-box;
    height: 100px;
}
.myorder{
    padding: 25px !important;
    border-radius: 10px;
    background-color: #1a1a1ade;
}
.myorder-button{
    text-transform: uppercase;
    margin: 20px 0px !important;
    border-radius: 60px !important;
     width: 100%;
    display: block !important;
    background-color: #e89535 !important;
    border-color: #e89535 !important;
}
.icon-video{
    content: url(foto/small-play.png);
    display: inline-block;
    top: 6px;
    width: 60px;
    height: 60px;
    left: 8px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.655);
    padding: 15px;
    border-radius: 5px;
}
.myvideo-button{
    margin: 40px 0px;
    position: relative;
    padding: 20px 70px !important;
    background-color: transparent !important;
    border: none !important;
    border-color: transparent !important; 
}
.myvideo-button:hover{
    border: none !important;
}
.myvideo-button:focus{
    outline: 0px auto -webkit-focus-ring-color !important;
}
/*  */
.delivery{
    background-color: #333330;
}
.delivery-content{
    text-align: center;
}
.delivery-button{
    border-radius:0px !important ;
    text-align: left !important;
    text-transform: uppercase;
     width: 100%;
    background-color: #e89535 !important;
    border-color: #e89535 !important;
}
.delivery-content{
    color: #e8e8e8;
}
.delivery-paragraph,.delivery-title{
    margin: 20px 0px;
}
.delivery-container{
    margin:0px 40px ;
}
.delivery-name h3{
    color: #ffffff;
}
.delivery-mygroup,.mybutton-country{
    width: 100%;
}
.mybutton-country{
    border-radius: 0px !important;
    width: 90%;
}
.mywarning-country{
    color: #1a1a1a !important;
    border-radius: 0px !important;
    width: 10%;    
}
.delivery-mygroup{
    margin: 20px 0px;
}
.mydelivery-menu{
    min-width: 100% !important;
}
.delivery-data-title{
    margin-top: 15px;
    color: #e89535;
    border-bottom: dashed #e89535;
}
.parameters{
    background-color:  #666666 ;
}
.parameters-container{
    margin:0px 22px ;
}
.parameters-weight,.parameters-size{
    margin: 20px 0px;
}
.parameters-weight>input{
    border-radius: 0px !important;
}
.parameters-size>input{
    border-radius: 0px !important;
}
.parameters,.delivery{
    padding: 40px 0px;
}
.delivery-data-title>input{
background-color: transparent;
color: #ffffff;
border: none;
}
.order{
    background-color: #333330;
}
.order-button{
    width:300px;
    text-transform: uppercase;
    margin: 0px !important;
    border-radius: 60px !important;
    display: block !important;
    background-color: #e89535 !important;
    border-color: #e89535 !important;
}
.order-container{
    width: 60%;
    margin: auto;
}
.order-btn{
    margin: 40px 20px;
    display: inline-block;
}
/*  */
.catalog-title h3{
    width: 60%;
    margin: auto;
color: #ffffff;
}
.catalog-title h3{
    text-align: center;
}
.order-bloc{
    margin: 10px;
    box-sizing: border-box;
    background-color: #666666;
   
}
.order-bloc:hover{
    border: 2px solid #e89535;
}
.catalog-icon{
    width: 50%;
    height: 130px;
    padding: 20px 0px;
    margin:  auto;
}
.catalog-price>h3{
    display: inline-block;
    color: #ffffff;
}
.catalog-price>span{
color: #e89535 !important;
font-size: 25px;
}
.catalog-price{
    width: 60%;
    margin: auto;
}
/*  */
.addres-text{
    margin: 10px;
}
.address-map>iframe {
    height: 400px;
}
.order-address{
    margin: 20px 0px;
    background-color: #666666;
}
.address-button{
    text-align: center !important;
    text-transform: uppercase;
     width: 100%;
    background-color:  #333330 !important;
    border-color:  #333230 !important;
}
.address-btn{
    margin: 10px;
}
.tetle-addres h3{
    color: #ffffffb1;
}
.tetle-paragraph h4{
    color: #ffffffb1;
}
/*  */